html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.firstP {
    flex: 1;
    background-color: #1F2937;
}

.secondP {
    flex: 1;
}

.thirdP {
    flex: 1;
    background-color: #E5E7EB;
}

.fourthP {
    flex: 1;
}

.footer {
    flex: 1;
}